<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Recors</title>
</head>
<body>
    <center>
        <h1>insert_access</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="n">Name</label>
            <select name="n" id="n">
                {% for wo in webpages %}

                    <option value="{{ wo.name }}">{{ wo.name }}</option>
                {% endfor %}
            </select><br><br>

            <label for="au">Author</label>
            <input type="text" name="au" id="au"><br><br>

            <label for="da">Date</label>
            <input type="date" name="da" id="da"><br><br>

            <input type="submit" value="insert_access">

        </form>
    </center>
    
</body>
</html>