<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOPICS</title>
</head>
<body>
    <center>
        <h1>insert_topic</h1>

        <form action="" method="POST">

            {% csrf_token %}
            <label for="tn">Topic Name</label>
            <input type="text" name="tn" id="tn">
            <br>
            <br>

            <input type="submit" value="submit">

        </form>

        
    </center>
    
</body>
</html>